body {
	Background: url("040.jpg")
}
span#placeholder {
	position: absolute;
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 25px;
	background: rgba(255,255,255,0.1);
	margin-top: 15px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	top: 35%;
	left: 35%;
}
span#time_view {
	position: absolute;
	font-family: 'Roboto', sans-serif;
	color: white;
	top: 73%;
	left: 43%;
	font-size: 25px;
	background: rgba(255,255,255,0.1);
	margin-top: 15px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;

}
table.favorite {
	position: absolute;
	top: 35%;
	left: 35%;
	background: rgba(255,255,255,0.1)
}
h3.hi_msg {
	font-family: 'Roboto', sans-serif;
	color: white;
	position: absolute;
	top: 25%;
	left: 35%;
}
table tr td a button {
	font-family: 'Roboto', sans-serif;
	height: 50px;
	width: 100px;
	padding: 10px;
	margin: 15px;
	/* border-radius: 0px; */
	box-shadow: none;
	background: rgba(110,100,100,0.5);
	color: rgba(255,255,255,1);
	border-color: rgba(0,255,120,0.6);
	-webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
	transition: width 1s, height 1s, background-color 1s, transform 0.2s;
}
table tr td a button:hover {
	transform:scale(1.3,1.3);
	-webkit-transform:scale(1.3,1.3);
	-moz-transform:scale(1.3,1.3);
}
button {
	font-family: 'Roboto', sans-serif;
	height: 50px;
	width: 100px;
	padding: 10px;
	margin: 15px;
	/* border-radius: 0px; */
	box-shadow: none;
	background: rgba(110,100,100,0.5);
	color: rgba(255,255,255,1);
	border-color: rgba(0,255,0,1);
	-webkit-transition: width 1s, height 0.1s, background-color 1s, -webkit-transform 1s;
	transition: width 1s, height 1s, background-color 1s, transform 0.2s;
}
