<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>

  <link href="static/style.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <title>Start page | Settings </title>
</head>
<body>

  <h3 class="hi_msg" >Hello, {{ user.name }}</h1>
    <span id="placeholder">In work.</span>
    <span id="time_view"></span>
    <script src="static/script.js" charset="utf-8"></script>
    <script src="static/time_changing.js" charset="utf-8"></script>
  </body>
  </html>
